<% provide(:title, "Add bet") %>
<h1>Edit the bet</h1>


<div class="container">
  <% if current_user && current_user.admin? %>
      <%= form_for(@bet, :html => {:class => 'form-inline'} ) do |f|%>
        <div class="form-group">
          <%= f.label :title %>
          <%= f.text_field :title %>
        </div>
        <div class="form-group">
          <%= f.label :benchmark %>
          <%= f.number_field :benchmark, :step => 0.5 %>
        </div>
        <div class="form-group">
          <%= f.submit "Update bet", class: "btn btn-primary" %>
        </div>
      <% end %>
  <% end %>
</div>
